@using ComicBookGallery.Models
@model ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    @foreach (ComicBook book in Model)
    {
        <div class="col-md-3">
            <h4>@book.DisplayText</h4>
            <img src="/Images/@book.CoverImageFileName"
                 alt="@book.DisplayText"
                 class="img-responsive" />
        </div>
    }


</div>

